body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8e0d2;
    color: #333;
    background: linear-gradient(to bottom, #fff0f5, #ffffff);
    }

header {
    background-color: #ffb6c1;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 19px;
    }

section {
    padding: 1rem;
    }

.contact, .availability, .hours {
    background-color: #f8bcd0;
    padding: 2rem;
    border-radius: 8px;
    max-width: 750px;
    margin: 2rem auto;
    font-size: 19px;
    }

.contact p, .availability p, .hours ul {
    margin: 1rem 0;
    }

.status {
    padding: 1rem;
    font-weight: bold;
    border-radius: 25px;
    text-align: center;
    }

.status.green {
    color: #006400;
    background-color: #b0f7c7;
    border: 4px solid #28a745;
    }

.status.red {
    color: #721c24;
    background-color: #f79d9d;
    border: 4px solid #dc3545;
    }

a {
    color: #c71585;
    text-decoration: none;
    }

a:hover {
    text-decoration: underline;
    }

footer {
    background-color: #ffb6c1;
    color: white;
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
    }

header img {
  max-width: 350px;
  height: auto;
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:hover {
  color: #6324f5;
  text-decoration: underline;
}



.gallery {
  text-align: center;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f88aaf;
  border-radius: 10px;
  max-width: 800px;
}

.gallery h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1.5rem;
  justify-items: center;
}

.gallery-grid img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.gallery-grid img:hover {
  transform: scale(1.05);
}



.card {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

button {
  background-color: #ff4d6d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
}
button:hover {
  background-color: #e43b5b;
}

.pop {
  border-radius: 10px;
  background-color: #f8bcd0;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 23px;
}